body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("./BG.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: #ccd6f1ff;
}

#message-el {
    font-style: italic;
}

button {
    color: #303c55;
    width: 150px;
    background: #64ffda;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
button:hover{
    color: #64ffda;
    background: #303c55;
}